form {
  /* border: 1px solid gray; */
  max-width: 65%;
  padding: 13vh 50px;
  margin: 50px auto 0;
}

.the-form {
  /* margin-top: 200px; */
  min-height: 75vh;
}

.the-form button {
  background: transparent;
  outline: none;
  border: 1px solid #bca480;
  max-width: 170px;
  width: 100%;
  color: #bca480;
}

.the-form button:hover {
  background: #bca480;
  outline: none;
  border: 1px solid #bca480;
  max-width: 170px;
  width: 100%;
  color: white;
}

form .form-control {
  border: none;
  border-bottom: 1px solid #bca480;
  border-radius: 0;
  margin: 20px 0;
  background: #f6f7f7;
}

#exampleText {
  min-height: 126px;
}
