.projects-main {
  background-color: #f6f7f7;
  padding-top: 10vh;
}

.title-description {
  text-align: center;
  /* border-bottom: 1px solid gray; */
  /* font-family: "Josefin Sans", sans-serif;
  font-style: normal; */
}

.proj-title {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  color: #bca480;
}

.separator {
  width: 50px;
  border-bottom: 2px solid #bca480;
  margin: auto;
}

.project-info {
  font-family: "Noto Serif", serif;
  font-style: normal;
  width: 50%;
  margin: 2vh auto;
}

.project-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-project {
  position: relative;
  height: 683px;
  width: 1024px;
  margin-top: 30px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.single-project:hover .image {
  opacity: 0.5;
}

.single-project:hover .middle {
  opacity: 1;
}

button {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.project3 {
  margin-bottom: 45px;
}
